<div class="wrapper">
    <div class="container">
      <div class="headingcontainer">
        <h1>Karabo Maimane's Monthly Budget</h1>
        <h3>This is a schematic of my June budget</h3>
      </div>

      <br>
        <table>
          <tr>
            <th>Income/Expenditure</th>
            <th>Income</th>
            <th>Expense</th>
            <th>Total Budget</th>
          </tr>
      
          <tr>
            <td>Salary</td>
            <td>R2000</td>
            <td></td>
            <td></td>
          </tr>
      
          <tr>
            <td>Transport</td>
            <td></td>
            <td>R360</td>
            <td></td>
          </tr>
      
          <tr>
            <td>Food</td>
            <td></td>
            <td>R400</td>
            <td></td>
          </tr>
      
          <tr>
            <td>Entertainment</td>
            <td></td>
            <td>R500</td>
            <td></td>
          </tr>
      
          <tr>
            <td>Gym</td>
            <td></td>
            <td>R200</td>
            <td></td>
          </tr>
      
          <tr>
            <td>Clothing</td>
            <td></td>
            <td>R200</td>
            <td></td>
          </tr>
      
          <tr>
            <td>Savings</td>
            <td></td>
            <td>R340</td>
            <td></td>
          </tr>
      
          <tr>
            <td>Entertainment</td>
            <td></td>
            <td>R500</td>
            <td></td>
          </tr>
      
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="background-color: #07cf07; font: 1.2em arial; text-decoration: underline; font-family: bold;" class="total">R2000</td>
          </tr>
        </table>
      </div>

      <br><br><br>
</div>
